/* General reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Font family: Lexend Deca, Weights: 400*/
  @import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
  
  /* Font family: Big Shoulders Display, Weights: 700 */
  @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
  
  /* colors */
  :root {
    --bright_orange: hsl(31, 77%, 52%);
    --dark_cyan: hsl(184, 100%, 22%);
    --very_dark_cyan: hsl(179, 100%, 13%);
    --transperant_white: hsla(0, 0%, 100%, 0.75);
    --very_light_gray: hsl(0, 0%, 95%);
  }
  
  body {
    background-color: var(--very_light_gray);
    min-height: 100vh;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .card_wrapper {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* card-1 */
  .card_1 {
    background-color: var(--bright_orange);
    border-radius: 10px 0 0 10px;
  }
  
  /* card 2 */
  .card_2 {
    background-color: var(--dark_cyan);
  }
  
  /* card-3 */
  
  .card_3 {
    background-color: var(--very_dark_cyan);
    border-radius: 0 10px 10px 0;
  }
  
  .card {
    min-height: 25rem;
    max-width: 17rem;
    padding: 2.5rem;
  }
  
  .card h1 {
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    color: var(--very_light_gray);
    font-size: 30px;
    margin: 20px 0;
  }
  
  .card p {
    color: var(--transperant_white);
    line-height: 1.6;
  }
  
  .card a {
    text-decoration: none;
    background-color: var(--very_light_gray);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid var(--very_light_gray);
    transition: all 0.3s ease-in-out;
  }
  
  .card_1 a {
    color: var(--bright_orange);
  }
  
  .card_2 a {
    color: var(--dark_cyan);
  }
  
  .card_3 a {
    color: var(--very_dark_cyan);
  }
  
  .card a:hover {
    color: var(--very_light_gray);
    background: transparent;
  }
  
  @media only screen and (max-width: 768px) {
    .card_wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .card_1 {
      border-radius: 10px 10px 0 0;
    }
    .card_3 {
      border-radius: 0 0 10px 10px;
    }

    .head {
      display: inline-block;
      margin: 10px 0;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .card_wrapper {
      margin: 32px 8px;
    }
  }

/* Header */
header {
  text-align: center;
  font-size: 25px;
  padding: 50px 0;
}

.head {
  text-decoration: none;
  cursor: pointer;
  background-color: hsl(179, 100%, 13%);
  padding: 20px 20px;
  border-radius: 50px;
  margin-left: 20px;
  color: rgb(56, 190, 135);
}
.head:hover {
  color: rgb(0, 182, 214);
  background-color: hsl(240, 42%, 35%);
}
